<div class="nav-wrapper">
  <nav class="nav">
    <a href="/" class="nav__menuLink">Cocols</a>
  </nav>
</div>

<style is:global>
  .nav-wrapper {
    padding-top: 1rem;
    margin-inline: -0.5rem;

    position: sticky;
    top: 0px;
    z-index: 10;
  }

  .nav {
    background-color: #e2e2e2ab;
    color: var(--color);
    border-radius: 9999px;
    padding: 0.4rem;
    backdrop-filter: blur(2rem);

    display: flex;
  }

  .nav__menuLink {
    color: inherit;
    padding: 0.6rem 1.5rem;
    border-radius: 9999px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
</style>
