<nav class="nav">
  <a href="/" class="nav__menuLink">Col-of-Cols</a>
</nav>

<style is:global>
  .nav {
    background-color: #e2e2e2ab;
    color: var(--color);
    border-radius: 9999px;
    padding: 0.4rem;

    display: flex;
  }

  .nav__menuLink {
    color: inherit;
    padding: 0.6rem 1.5rem;
    border-radius: 9999px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
</style>
